@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
  font-synthesis: none;
  line-height: inherit;
  margin: 0;
}
